@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

ion-toolbar {
  --background-color: transparent;
}

ion-header .header-md:after {
  background: none;
}

ion-label {
  font-family: 'Nunito';
}

ion-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #3e3f43;
  font-family: 'Nunito';
}
